.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;  
  line-height: 40px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}


:root {
  /* Coolors Exported Palette - coolors.co/5fad56-f2c14e-f78154-4d9078-b4436c */
  --color1: rgba(95, 173, 86, 1);
  --color2: rgba(242, 193, 78, 1);
  --color3: rgba(247, 129, 84, 1);
  --color4: rgba(77, 144, 120, 1);
  --color5: rgba(180, 67, 108, 1);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero.is-primary .title {
  font-weight: bolder;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  font-size: xx-large;
  background-color: rgba(245, 245, 245, 0.5);
}

.section, .table {
  background-color: transparent;
}

.tag {
  font-size: 10px;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.avatar > img {
  border-radius: 25px;
  box-shadow: 1px 2px 4px #888888;
}

.phrase {
  font-weight: normal;
}

input[type=text], select {
  /*width: 33%;*/
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    /*width: 33%;*/
  background-color: rgb(78, 76, 175);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.inputdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/***********************
 * CORE
 ***********************/

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.9em;
	margin:0;
	padding: 0;
	height: 100%;
}

.content {
	margin: auto;
	width: 95%;
}

@media screen and (min-width: 810px) {
  .content {
  	width: 800px;
  }
}


button {
  font-size: 1.1em;
  width: 110px;
  height: 45px;
  background-color: #0078D7;
  color: white;
  border-style: solid;
  border: 0;
}

/***********************
 * HEADER
 ***********************/

 .nav-bar {
  height: 60px;
  padding: 0 5%;
  display: flex;

  font-size: 15px;
  font-family: "Segoe UI";
  background-color: #3a8dd8;
  color: #fff;
  z-index: 5000;
}

.nav-bar .logo {
  padding-top: 3px;
  margin-left: -12px;
  float: left;
}

.nav-bar .logo img {
  max-width: none;
  height: 50px;
}

.nav-bar__links {
  float: left;
  flex: 1 1 auto;
}

.nav-bar__links ul {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0
}

.nav-bar__links ul > li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-bar__links ul > li > a {
  display: inline-block;
  position: relative;
  margin-top: 1px;
  padding: 18px 27px 0px;
  text-decoration: none;
  color: #fff;
  height: 42px;
}

.nav-bar__links ul > li a:hover::before {
  width: calc(100% - 52px);
  display: block;
  position: absolute;
  bottom: 18px;
  background: currentColor;
  content: "";
  height: 2px;
}

/***********************
 * CONVERSATION
 ***********************/

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.conversation .utterance {
  display: block;
  position: relative;
  margin-top: 5px;
  color: white;
}

.conversation .utterance > * {
  padding: 9px;
}

.conversation .utterance p {
  margin: 0;
}

.conversation .utterance.utterance--interviewer {
  align-self: flex-start;
  background-color: #464646;
}

.conversation .utterance.utterance--interviewee {
  align-self: flex-end;
  background-color: #008272;
}

@media screen and (max-width: 670px) {
  .conversation .utterance {
	  width: 90%;
  }
}

@media screen and (min-width: 670px) {  
  .conversation .utterance {
	  width: 47%;
  }
}

.conversation .utterance__suggestion-container {
  color: black;
  background: #FFFFCC;
}

.conversation .utterance__suggestion-title {
  font-weight: 800;
}

/***********************
* SPEAKING AMOUNT
***********************/

.speaking-amount {
  height: 15px;
  margin: 10px 0 10px 0;
  background-color : #008272;
}

.speaking-amount__value {
  margin: 0;
  background-color: #464646;
  float: left;
  height: 100%;
}


/***********************
* CONVERSATION DASHBOARD
***********************/
.conversation-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 810px) {
  .conversation-dashboard {
    justify-content: space-around;
  }
}

/***********************
* PROFILE
***********************/

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile__name {
  text-align: center;
  margin: 5px;
  font-weight: bold;
  width: 100px;
  overflow: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__photo-frame {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
}

.profile__photo-frame img {
  width: 60px;
  margin: auto;
}

/***********************
* TIMER
***********************/

.controls-container {
  display: flex;
  flex-direction: column;
}

.timer-container {
  text-align: center;
}

.timer-container .timer {
  color: #333333;
  font-size: 2.5em;
  font-weight: 600;
}


/***********************
* AWAIT INTERVIEWEE
***********************/

.await-interviewee {
  text-align: center;
}

/***********************
* INTERVIEWEE
***********************/

.interviewee {
  text-align: center;
}

.interviewee__header {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 100px;
}

.interviewee__instructions {
  margin-top: 100px;
  font-size: 1.1em;
  font-weight: 500;
}

.interviewee__privacy {
  font-size: 0.8em;
  font-weight: 400;
}

.interviewee  .profile__name {
  width: 200px;
  font-size: 1.3em;
}

.interviewee  .profile__photo-frame {
  width: 120px;
  height: 120px;
  border-radius: 120px;
}

.interviewee .profile__photo-frame img {
  width: 120px;
}
